services:
  - type: web
    name: crypto-api-v2
    env: python
    region: frankfurt
    plan: free
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      python -m uvicorn main:app --host 0.0.0.0 --port $PORT --reload
    healthCheckPath: /health
    autoDeploy: true
    envVars:
      - key: PYTHONUNBUFFERED
        value: "true"
      - key: PORT
        value: "10000"